PORT=3000
FRONTEND_URL=http://localhost:5173
DATABASE_URL="postgresql://postgres:postgres@db:5432/reno_usa_db?schema=public"

# si utilizas codespaces deberias tener algo asi: 
#PORT=3000
#FRONTEND_URL=https://vigilant-meme-q7x5wvrwjpv5cx9jg-5173.app.github.dev
#DATABASE_URL="postgresql://postgres:postgres@db:5432/reno_usa_db?schema=public"