PORT=3000
FRONTEND_URL=http://localhost:5173
DATABASE_URL="postgresql://postgres:postgres@db:5432/reno_usa_db?schema=public"
AI_BACKEND_URL="levanta repo de AI y pega aquí el link: link/api/v1"

# si utilizas codespaces deberias tener algo asi: 
#PORT=3000
#FRONTEND_URL=https://vigilant-meme-q7x5wvrwjpv5cx9jg-5173.app.github.dev
#DATABASE_URL="postgresql://postgres:postgres@db:5432/reno_usa_db?schema=public"
#AI_BACKEND_URL=https://refactored-trout-ww5g9x4xp6jfpjr-8000.app.github.dev/api/v1